.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #3c4d71;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 32px;
	z-index: 10;
}

.toolbar a {
	text-decoration: none;
}

.breadcrumbs {
	display: flex;
	white-space:nowrap;
	overflow: hidden;
	flex-shrink: 1;
}

.breadcrumbs>* {
	flex-shrink: 100;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
}

.breadcrumbs>*:first-child,
.breadcrumbs>*:last-child {
	flex-shrink: 0;
}

.lookup {
	margin: 3px 5px 5px auto;
	display: flex;
}

.lookup input {
	width: 30px;
	height: 20px;
	cursor: pointer;
	color: transparent;
	padding: 4px;
	margin: 1px 0 0 5px;
	transition: width .2s, color .2s, background-color .2s ease-out;
	border: solid 1px #777;
	background-color: #ccc;
	background-image: url('/svg/magnifying-glass.svg');
	background-repeat: no-repeat;
	background-position: right 15px center;
}

.lookup input:focus {
	width: 200px;
	cursor: text;
	color: #000;
	background-color: #fff;
}

@media (min-width: 750px) {
	.lookup input {
		width: 200px;
		cursor: text;
		color: #000;
		background-color: #fff;
	}
}

.navButtons {
	display: flex;
}

.button {
	color: #000;
	background-color: #ccc;
	cursor: pointer;
	padding: 5px 15px;
	border: solid 1px #777;
}
.button:hover {
	background-color: #ddd;
}
.button:active {
	background-color: #999;
}
.button[disabled] {
	background-color: #999;
	cursor: default;
}

.main-content {
	font-size: 18px;
	font-family: Palatino,"Palatino Linotype",Pahoran,Georgia,"Times New Roman",serif;
	margin: 45px auto calc(25% + 1.5em);
	max-width: 470px;
	position: relative;
}

.main-content h1 {
	display: block;
	font-weight: 200;
	font-style: normal;
	font-size: 52px;
	line-height: 55px;
	letter-spacing: -1px;
	margin-left: 0;
	padding: 0 0 2px;
	margin-top: 5px;
	font-family: Palatino,"Palatino Linotype",Pahoran,Georgia,"Times New Roman",serif;
}

.main-content a {
	color: #0091bc;
	text-decoration: none;
}

.main-content sup {
	vertical-align: super;
	font-size: 10px;
	line-height: 1;
}

.main-content p {
	margin-bottom: 26px;
}

.verse {
	line-height: 140%;
}

.titleNumber, 
.subtitle {
	font: 24px/26px "Helam Slab","Roboto Slab",Calibri,Helvetica,Arial,sans-serif;
	font-family: Palatino,"Palatino Linotype",Pahoran,Georgia,"Times New Roman",serif;
}

.studySummary {
	font-family: Palatino,"Palatino Linotype",Pahoran,Georgia,"Times New Roman",serif;
	font-style: italic;
	line-height: 140%;
}

.clarityWord {
	font-style: italic;
}

.smallCaps {
	font-variant: small-caps;
}

.video canvas {
	display: none;
}

.video video {
	width: 100%;
}

.highlight {
	background-color: #fefbbf;
}

.strong {
	font-weight: bold;
}

.emphasis {
	font-style: italic;
}

.verse::first-word {
	font-weight: bold;	
}

.pageBreak::before {
	content: attr(page-number);
	position: absolute;
	right: -1.5em;
	padding: 2px;
	color: #777;
	transform: rotateZ(-.25turn);
	transform-origin: top;
	line-height: 1em;
}

.footnotes-container {
	flex-direction: column;
	position: fixed;
	height: 25%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FBF9F2;
	display: none;
	
	line-height: 170%;
	font: 6px/22px Palatino,"Palatino Linotype",Pahoran,Georgia,"Times New Roman",serif;
    font-size: 18px;
}

.show-footnotes .footnotes-container {
	display: flex;
}

.footnotes-header {
	padding: 15px;
	background-color: #4B4B48;
	color: #fff;
}

.footnotes-close {
	cursor: pointer;
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	float: right;
	background-color: #444;
	border: 2px #111 solid;
	border-radius: 4px;
}

.footnotes-close:hover {
	background-color: #555;
}

.footnotes {
	padding: 15px 30px;
	overflow-y: auto;
}

.footnotes-footnote {
	display: block;
	list-style: none;
	padding-left: 2em;
	text-indent: -2em;
	margin: 12px 0;
}

.footnotes-footnote-linkName {
	font-style: italic;
}

@media (min-width: 1000px) {
	.show-footnotes .main-content {
		padding-right: 450px;
	}
	.footnotes-container {
		height: auto;
		width: 450px;
		top: 32px;
		left: auto;
		border-left: 1px #bbb solid;
		
	}
	.footnotes-header {
	}
}
